header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.17);
}

.logo img {
  width: 220px;
  transition: transform 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #1c1c1c;
  transition: color 0.3s;
}

.nav-links a.selected {
  color: #902d12ff;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 0;
  transition: transform 0.3s, background-color 0.3s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #f4f2edff;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding: 20px;
  transition: left 0.3s;
  z-index: 1;
}

.mobile-menu a {
  color: #c7360fff;
  text-decoration: none;
  margin: 10px 0;
  transition: color 0.3s;
}

.mobile-menu ul li + li {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  header {
    padding: 10px 20px 10px 0;
  }

  .logo img {
    transform: scale(0.8);
  }

  .bar {
    background-color: #000;
  }

  .bar:nth-child(2) {
    transform: translateY(5px);
  }

  .bar:last-child {
    transform: translateY(10px);
  }
}
